body{
    background: #65b1D2;
}
h1{
  color: #5858FA;
  font-family: arial;
  font-size: 50px;
  text-align: center;
}
h2{
  color:#01DFA5;
  font-family: arial;
  font-size: 50px;
  text-align: center;
}
/* revisado */
p{
  color: black;
  font-family: arial;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  }
tr{
  color:#A9BCF5;
  font-family: times new roman;
  font-size: 20px;
  text-align: center;
  }
th{
  color: #A9BCF5;
  font-family: times new roman;
  font-size: 20px;
  text-align: center;
}
/* revisado*/
table{
  color: #B18904;
  font-family: arial;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  border:2;
  border-color: transparent;
  border-style: transparent;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
/* tamano del logo */
.tam{
    width: 200px;
	height: 150;
}
/* tamano de las imagenes de marquee */
.tam2{
    width: 200px;
	height: 180px;
}
/* tamano de las imagenes de los botones*/
.tam3{
    width: 140px;
	height: 140px;
}
/* tamano de las imagenes de la tabla de producto*/
.tam4{
  width: 300px;
  height: 250px;
}
li{
 color: #00FF80;
 font-family: times new roman;
 font-size: 25px;
 text-align: center;
}
/* fuente de los subtitulos de historia */
.fuente{
 color: white;
 font-family: arial;
 font-size: 20px;
 text-align: center;
}
/* para los parrafos de historia*/
.p2{
	color: #145A32;
	font-family: arial;
	font-size: 15px;
	text-align: center;
}
.table2{
  color: #B18904;
  font-family: arial;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  border:2;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
  background-color:#154360;
}
.table3{
  color: #B51414; 
	font-family: time new roman;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	border: 2;
	border-color: black;
	border-style:solid;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	background-color: #2874A6;
	width: 50%;
	height: 40%;
	
}
.div1{
		background: linear-gradient(to bottom, #AED6F1,#154360 );
		border: 5px solid #154360;
		margin-bottom:10px;
		margin-left:10px;
}
/*lo marquee de la principal*/
.div2{
		background: #1B2631;
		border: 5px solid #585858;
		text-align: center;
}
/*botones que te redireccionan a las paginas*/
.div3{
		background: #2E4053;
		border: 0px solid #2E4053;
		text-align: center;
		}
/*los creditos de la parte inferior de las paginas*/
.div4{
		background: #5D6D7E;
		border: 0px solid #5D6D7E ;
		text-align: center;
}
/*para los parrafos de la pagina historia*/
.div5{
		background: #AED6F1;
		border: 5px solid #AED6F1;
		text-align: center;
}
/*para tabla de los productos*/
.div6{
		background: #95A5A6;
		border: 5px solid #95A5A6;
		text-align: center;
}
/*parala tabla de contacto*/
.div7{
		background: #34495E;
		border: 5px solid #34495E;
		text-align: center;
}
.div8{
		background: #34495E;
		border: 5px solid #34495E;
		text-align: center;
}
.caja{
   height: 310px;
   width: 300px;
   background: #0080FF;
   border: 1px solid #01DF74;
   margin: 5px;
   color: black;
   text-align: center;
   font-family: arial;
   display: inline-block;
}
.caja:hover{
/*agregar sombra al div*/
/*             x y radio color*/
   box-shadow: 0 0 10px red;
   /* cambia la escala del tamaño de la caja*/
   transform: scale(1.3);
}
.caja-texto{
   padding-bottom: 5px;
   padding-top: 2px;
   font-family: 20px;
   color: #088A29;
   font-weight: bold;
}
.texto-adicional{
   padding-top: 5px;
   font-size: 25px;
}
@font-face{
	font-family:"mifuente";
	src: url(Black.ttf);
}

#fuente-Black{
	font-family:"mifuente";	
}
@font-face{
	font-family:"mifuente2";
	src: url(austein.ttf);
}

#fuente-austein{
	font-family:"mifuente2";	
}
@font-face{
	font-family:"mifuente3";
	src: url(florilane.ttf);
}

#fuente-florilane{
	font-family:"mifuente3";	
}
@font-face{
	font-family:"mifuente4";
	src: url(chellin.ttf);
}

#fuente-chellin{
	font-family:"mifuente4";	
}
.div9{
	background: #48568A;
	height: 180px;
	width: 450px;
	display:inline-block;
	transition: all 1s;
	transition-timing-function: ease;
}
.div9:hover{
	width:900px
}
.div10{
	background: #8EA3B5;
	height: 180px;
	width: 450px;
	display:inline-block;
	transition: all 1s;
	transition-timing-function: ease;
}
.div10:hover{
	width:900px
}
.div11{
	background: #7890EE;
	height: 180px;
	width: 450px;
	display:inline-block;
	transition: all 1s;
	transition-timing-function: ease;
}
.div11:hover{
	width:900px
}
.div12{
	height: 180px;
	width: 450px;
	display:inline-block;
	transition: all 1s;
	transition-timing-function: ease;
	background: #0D37E1;
}
.div12:hover{
	width:900px
	
}
.contenedor{
	display:flex
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  